$brand-primary-color: #2e9999;

$brand-secondary-color-dark: #39CCBD;
$brand-secondary-color-middle: #8BEBE1;
$brand-secondary-color-light: #D8FBF7;

$primary-color: #373737;
$secondary-color-dark: rgba(55, 55, 55, 0.60);
$secondary-color-middle: rgba(55, 55, 55, 0.32);
$secondary-color-light: rgba(55, 55, 55, 0.10);

$primary-background-color: #fff;
$secondary-background-color: #FAF7FF;

$warning-color: #FFEC68;
$error-color: #FF9F96;
$success-color: #77FFB4;

$upgrade-color: #386aff;