.header-landing {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 201, 201, 0.712);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-wrapper {
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 360px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.logo-wrapper h1 {
  font-family: var(--main-font);
  color: var(--color-text-dark);
  font-weight: 500;
  font-size: 30px;
}

.logo-wrapper img {
  max-width: 120px;
}

.header-bar .sections-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 12px 0;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.header-bar .sections-wrapper h3 {
  font-size: 30px;
  font-weight: 600;
}

.header-bar .sections-wrapper ul {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
  width: auto;
  scroll-behavior: smooth;
}

.header-bar .sections-wrapper ul li {
  margin-right: 14px;
  padding: 3px 8px;
  font-size: 14px;
  width: auto;
  flex-shrink: 0;
}

.header-bar .sections-wrapper ul div {
  flex-shrink: 0;
}

.header-bar .sections-wrapper ul div:last-child {
  min-width: 100vw;
  display: flex;
  align-items: center;
}

.header-bar {
  position: relative;
  box-sizing: border-box;
  z-index: 5;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  margin: -25px auto 0 auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(231, 231, 231, 0.473), 0 1px 5px 0 rgba(231, 231, 231, 0.473), 0 3px 1px -2px rgba(231, 231, 231, 0.473);
}

.landing-header-bar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.language-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.language-wrapper img.flag, .list-languages img.flag {
  width: 30px;
  margin-right: 10px;
  border-radius: 360px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.language-wrapper img.arrowDown {
  width: 12px;
}

.search-wrapper, .filter-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.search-wrapper p, .filter-wrapper p {
  font-size: 11px;
}

.search-wrapper img, .filter-wrapper img {
  width: 20px;
  margin-right: 4px;
}

.list-languages {
  position: absolute;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #fff;
  align-items: center;
  left: 0;
  padding: 0 10px;
  width: 100%;
  z-index: 5;
}

.list-languages p {
  margin-right: 10px;
  font-size: 11px;
}

.list-languages img {
  margin-right: 8px;
  margin-left: 8px;
}

.filter-items-wrapper {
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  padding: 5vh 20px 15vh;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.filter-items-wrapper .header-pop-up {
  width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.filter-items-wrapper .header-pop-up img#filter-icon {
  width: 20px;
  margin-right: 20px;
}

.filter-items-wrapper .header-pop-up p {
  font-size: 20px;
  font-family: var(--main-font);
  font-weight: 500;
  margin-right: 20px;
}

.filter-items-wrapper img#close-icon {
  position: absolute;
  top: 5vh;
  right: 20px;
  width: 20px;
}

.filter-items-wrapper .section-wrapper {
  margin-top: 30px;
}

.filter-items-wrapper .section-wrapper h4 {
  font-size: 20px;
  color: var(--brand-color);
  font-weight: 600;
  margin-bottom: 20px;
}

.filter-items-wrapper .section-wrapper p {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-dark);
}

.filter-items-wrapper .section-wrapper .items-wrapper {
  display: flex;
  flex-wrap:wrap;
  margin-top: 20px;
}

.filter-items-wrapper .section-wrapper .items-wrapper .item {
  width: 100%;
  margin: 8px 0;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}




.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.cantActivate{
  pointer-events: none;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: calc((24px - 20px) / 2);
  top: calc((24px - 20px) / 2);
  background-color: #fff;;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2e9999;
}


input:checked + .slider:before {
  -webkit-transform: translateX(calc(20px - (24px - 20px)));
  -ms-transform: translateX(calc(20px - (24px - 20px)));
  transform: translateX(calc(20px - (24px - 20px)));
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}