.loader-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #32CCBB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-wrapper p {
  font-family: var(--main-font);
  color: var(--color-text-light);
  font-weight: 100;
}

.menu-wrapper {
  padding: 30px 16px 0;
  max-width: 320px;
  margin: auto;
}

.section-wrapper h3 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 20px;
}

.dish-wrapper {
  display: flex;
  border-bottom: 1px solid rgba(189, 189, 189, 0.568);
  padding: 0px 0 40px;
  margin-bottom: 25px;
}

.dish-wrapper:last-child {
  border-bottom: 0;
}
